package user

import (
	"context"
	"time"

	"github.com/google/uuid"
	"{{ .modulePath }}/internal/domain"
)

type CreateUser struct {
	Repo domain.UserRepository
}

type CreateUserInput struct {
	Email string
	Name  string
}

func (uc CreateUser) Execute(ctx context.Context, in CreateUserInput) (domain.User, error) {
	u := domain.User{
		ID:        uuid.New(),
		Email:     in.Email,
		Name:      in.Name,
		CreatedAt: time.Now().UTC(),
	}.Normalize()
	if err := u.Validate(); err != nil {
		return domain.User{}, err
	}
	return uc.Repo.Create(ctx, u)
}
