HTTP_ADDR=:{{ .apiPort }}
DATABASE_URL=postgres://{{ .databaseUser }}:{{ .databasePassword }}@localhost:{{ .databasePort }}/{{ .databaseName }}?sslmode=disable
LOG_LEVEL={{ .logLevel }}
REQUEST_TIMEOUT_MS={{ .requestTimeoutMs }}
SHUTDOWN_TIMEOUT_MS={{ .shutdownTimeoutMs }}
