HTTP_ADDR=:{{ .apiPort }}
{{ if .modules.postgres.enabled }}DATABASE_URL=postgres://{{ .databaseUser }}:{{ .databasePassword }}@localhost:{{ .databasePort }}/{{ .databaseName }}?sslmode=disable
{{ end }}LOG_LEVEL={{ .logLevel }}
REQUEST_TIMEOUT_MS={{ .requestTimeoutMs }}
SHUTDOWN_TIMEOUT_MS={{ .shutdownTimeoutMs }}
